NODE_ENV=production
PORT=5001
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/ebookrequest?retryWrites=true&w=majority
JWT_SECRET=change_me_with_a_long_random_string
FRONTEND_URL=https://ebook.tondomaine.fr
GOOGLE_BOOKS_API_KEY=your_google_books_api_key
SMTP_HOST=your_smtp_host
SMTP_PORT=your_smtp_port
SMTP_SECURE=true
SMTP_USER=noreply@tondomaine.fr
SMTP_PASSWORD=your_smtp_password
EMAIL_FROM_ADDRESS=noreply@tondomaine.fr
EMAIL_FROM_NAME=EbookRequest
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
APPRISE_URL=http://192.168.1.x:8621
RSS_FEED_URL=https://predb.me/?cats=books-ebooks&rss=1
AI_PROVIDER=openai
OPENAI_MODEL=gpt-4o-mini
OPENAI_API_KEY=sk-proj-xxx
OLLAMA_URL=http://172.17.0.x:11434
OLLAMA_MODEL=EbookRequest_AI
OLLAMA_TIMEOUT=60000